.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.logo_utd {
  width: 150px;   
  margin: 20px 0; 
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #474f67;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #4bc1e1;
  display: block;
  padding: 10px 0;
}
h1 {
  color: #edecf1; /* amarillo */
}

h2 {
  color: #4cd083; /* azul claro */
}

h3 {
  color: #060606; /* rojo suave */
}